* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-rendering: optimizeLegibility;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 18px;
  background-color: #f9f8ff;
  color: #0d1433;
}

.header-icon {
  margin-right: 12px;
  transform: translateY(7px);
}

h1 {
  margin-bottom: 48px;
}

h2 {
  margin: 48px 0 12px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

form {
  background-color: #fff;
  border-radius: 12px;
  padding: 12px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  overflow: hidden;
}

table {
  width: 100%;
  background-color: #fff;
  padding: 12px;
  border-collapse: collapse;
}

.table-wrapper {
  overflow: scroll;
  border-radius: 12px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

thead {
  background-color: #0d1433;
}

th {
  padding: 20px 12px;
  background-color: #0d1433;
  color: #fff;
  text-align: left;
  overflow: hidden;
  border-radius: 0;
}

th:first-child {
  border-top-left-radius: 12px;
}

th:last-child {
  border-top-right-radius: 12px;
}

td {
  padding: 12px;
  border-bottom: 1px solid #0d1433;
}

tr:last-child td {
  border-bottom: none;
}

button {
  outline: none;
  border: none;
  border-radius: 12px;
  background-color: #7988f3;
  color: #fff;
  padding: 12px;
  transition: background-color 0.3s ease-in-out;
}

button:hover,
button:focus {
  background-color: #606fda;
}

button:hover {
  cursor: pointer;
}

.help-text {
  margin: 0 0 16px;
  font-size: 14px;
}

form label {
  display: block;
  font-weight: 700;
}

.form-row {
  display: flex;
  margin-top: 12px;
}

input {
  width: 100%;
  border: 2px solid #7988f3;
  border-radius: 12px;
  padding: 12px;
  font-size: 18px;
  margin-right: 12px;
  background-color: #fff;
  transition: background-color 0.3s ease-in-out;
}

form input:focus,
form input:hover {
  outline: none;
  background-color: rgba(121, 136, 243, 0.1);
}

.form-submit {
  padding-left: 24px;
  padding-right: 24px;
  font-size: 18px;
  transition: background-color 0.3s ease-in-out;
}

.form-submit:focus,
.form-submit:hover {
  background-color: #606fda;
}

.table-button {
  font-size: 18px;
  padding: 6px 24px;
}

.limited-width {
  max-width: 600px;
}
